@import "reset";
@import "base";
@import "classes";
@import "utils";
@import "animations";
@import "media-queries";


.grid-container {
    display: grid;
    min-height: 100vh;
    grid:
      "picture header" auto
      "aside main" 1fr
      "footer footer" auto
      / 350px auto;
      @include xs {
        grid:
      "header"
      "main" 
      "picture"
      "aside" 
      "footer";
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto;
      }
  }


  header {
    grid-area: header;
    background: linear-gradient(to right, var(--primary), var(--light));
    padding: 8rem 5rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include xs {
        padding: 5rem 2rem;
        align-items: center;
        max-width: 100%;
        overflow-x: hidden;
    }
    h1 {
      font-size: 6rem;
      line-height: 8rem;
      font-weight: 300;
      letter-spacing: 3rem;
      @include xs {
        font-size: 6vw;
        line-height: 1.2;
        letter-spacing: 14px;
        max-width: 100%;
        font-weight: 400;
      }
    }
    p {
      letter-spacing: 0.5rem;
      color: #222;
      font-size: 2rem;
      font-weight: 700;
      @include xs {
        font-size: 1.5rem;
      }
        span {
        display: inline-block;
        opacity: 0;
        transform: translateX(-120px);
        animation: slideFormLeft 0.6s ease forwards;
        
        &:nth-child(1) {
            animation-delay: 1.2s;
        }
        &:nth-child(2) {
            animation-delay: 1.3s;
        }
        &:nth-child(3) {
            animation-delay: 1.4s;
        }
        &:nth-child(4) {
            animation-delay: 1.5s;
        }
        &:nth-child(5) {
            animation-delay: 1.6s;
        }
        &:nth-child(6) {
            animation-delay: 1.7s;
        }
        &:nth-child(7) {
            animation-delay: 1.8s;
        }
        &:nth-child(8) {
            animation-delay: 1.9s;
        }
        &:nth-child(9) {
            animation-delay: 2s;
        }
        &:nth-child(10) {
            animation-delay: 2.1s;
        }
        &:nth-child(11) {
            animation-delay: 2.2s;
        }
        &:nth-child(12) {
            animation-delay: 2.3s;
        }
        &:nth-child(13) {
            animation-delay: 2.4s;
        }
        &:nth-child(14) {
            animation-delay: 2.5s;
        }
        &:nth-child(15) {
            animation-delay: 2.6s;
        }
        &:nth-child(16) {
            animation-delay: 2.7s;
        }
        &:nth-child(17) {
            animation-delay: 2.8s;
        }
        &:nth-child(18) {
            animation-delay: 2.9s;
        }
        &:nth-child(19) {
            animation-delay: 3s;
        }
      }
    }
    h1 span {
        display: inline-block;
        opacity: 0;
        transform: translateY(-100px);
        animation: drop 0.9s ease forwards;

        &:nth-child(1) {
            animation-delay: 0.2s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            animation-delay: 0.5s;
        }
        &:nth-child(5) {
            animation-delay: 0.6s;
        }
        &:nth-child(6) {
            animation-delay: 0.7s;
        }
        &:nth-child(7) {
            animation-delay: 0.8s;
        }
        &:nth-child(8) {
            animation-delay: 0.9s;
        }
        &:nth-child(9) {
            animation-delay: 1s;
        }
        &:nth-child(10) {
            animation-delay: 1.1s;
        }
        &:nth-child(11) {
            animation-delay: 1.2s;
        }
    }
  }

aside {
    grid-area: aside;
    background: #dff9fb;
    border-right: 1px solid var(--hint);
    padding: 5rem;
    .block {
        margin-bottom: 5rem;
    }
    h3 {
        margin-bottom: 0;
        font-size: 1.4rem;
    }

    p {
        margin: 0 0 2rem 0;
        font-style: italic;
    }

    .bar-skills {
        margin: 2rem 0;
        height: 5px;
        background: var(--hint);
        position: relative;
        @include xs {
            max-width: 100%;
        }
        .bar-skills-progress {
            position: absolute;
            height: 5px;
            top: 0;
            left: 0;
            width: 80%;
            background: greenyellow;
        }

        .bar-skills-dot {
            position: absolute;
            height: 10px;
            width: 10px;
            background: #444;
            left: calc(80% - 5px);
            top: -2.5px;
            transform: rotate(45deg);
        }
    }

    .stars-container {
        display: flex;
        margin: 2rem 0 3rem 0; 
        color: #22a6b3;
        i {
            font-size: 2rem;
            margin: 0 1rem;
        }
    }

    .social-container {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem 1rem;
        border-radius: 5px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            background: var(--border);
            i {
                color: var(--primary);
                transform: scale(1.5);
                transition: all 0.2s;
            }
        }
        i {
            font-size: 2rem;
            flex: 0 0 50px;
            margin-right: 1rem;
        }
        p {
            flex: auto;
            margin: 0;
        }
    }

}

.picture {
    grid-area: picture;
    padding: 6rem;
    background: var(--background);
    border-right: 1px solid var(--border);
    @include xs {
        padding: 3rem;
    }
    img {
      border-radius: 50%;
    }
  }

main {
    grid-area: main;
    padding: 5rem;
    @include xs {
        padding: 5rem 1.8rem;
        text-align: center;
    }
    h2 {
        margin-bottom: 4rem;
    }
    p {
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }

    .experience {
        display: flex;
        margin: 6rem 0;
        .timeline {
            text-align: center;
            color: var(--hint);
            padding-right: 2rem;
            border-right: 1px solid var(--border);
            p {
                margin: 0;
            }
        }
        .content {
            padding: 0 1rem;
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
            }
            ul {
                margin: 2rem 0;
                list-style: circle;
                padding-left: 4rem;
            }
        }
        
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    padding: 5rem;
    background: var(--text);
    @include xs {
        padding: 5rem 1.5rem;
    }
    h2 {
        margin-bottom: 3rem;
    }

    form {
        display: flex;
        align-items: center;
        .prefix, .postfix {
            background: linear-gradient(to right, orangered, purple);
            padding: 1rem 2rem;
            color: whitesmoke;
            font-size: 2rem;
        }
        .prefix {
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
        }
        button {
        background: var(--text);
        border: 0;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            opacity: 0.8;
            }
        .postfix {
            border-top-right-radius: 20%;
            border-bottom-right-radius: 20%;
            }
        }
        input {
        outline: 0;
        border: 0;
        min-width: 400px;
        @include xs {
            min-width: 200px;
           }
        padding: 1rem 2rem;
        line-height: 2rem;
        &::placeholder {
            color: var(--text);
            }
        }
    }
}